<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.text.kachidoki.zhihu" >

    <uses-permission android:name="android.permission.INTERNET">

    </uses-permission>

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/zhihu"
        android:label="知乎呵呵哒"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".main.MainActivity"
            android:label="知乎呵呵哒" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".launch.RegisterActivity"
            android:label="注册">
        </activity>
        <activity
            android:name=".launch.LoginActivity"

            android:label="登录">

        </activity>
        <activity
            android:name=".main.AnswerActivity"

            android:label="回答">

        </activity>
        <activity
            android:name=".main.SendQuestionActivity"

            android:label="发布">

        </activity>
    </application>

</manifest>
